
.back-img{
 height: 100vh;
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100vw;
 box-sizing: border-box;
 background-size: cover;
 flex-direction: column;
 text-align: center;
  overflow: hidden;
  
}
#heading1{
 position: relative;
 top: -26rem;
 color:white;
 left: 40px;
 

}
#para{
  position: relative;
  display: flex;
 top: -25rem;
  color:white;
  left: 40px;
  font-family: cursive;
}
#btn2{
  position: relative;
  display: flex; 
  top: -23rem;
  left: 50px;
  cursor: pointer;
   color: brown;
   background-color: orange;
   transition: 0s ease-in-out 0s;
}
#btn2:hover{
  color: blue;
  background-color: crimson;
}
.banner-img{
  position: relative;
  display: flex;
  top: -41rem;
  left: 40rem;
  height: 30rem;
  width: 40rem;
  overflow: hidden;
}


.services-img{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px 30px;
  left:5rem;


}
.services-img img{
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 10px;
  top: -36rem;
  object-fit: cover;
}
.section-heading{
  position: relative;
  display: flex;
  top: -36rem;
  left: 10rem;
  color: brown;
 transition: 0.3s ease-in-out 0s;
  font-size: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  
}
.section-heading:hover{
  color: orange;
}
.home-cards {
  position: relative;
  top: -40rem;
  background-color: #fff;
  padding: 60px,20px;
  text-align: center;
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;

}
.home-cards:hover h2{

  color: blue;
}

/* .card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  cursor: pointer;
} */

.card-section{
  position: relative;
  top: -37rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  background-color: whitesmoke;
}
.card{
  position: relative;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover{
  transform: translate(-5px);
  box-shadow: 0,6px,16px rgba(0,0,0,0.15);

}
.card p{
  position: relative;
  opacity: 0.5;
  font-size: 15px;
}
.red-clr{
  color: red;
}
.brown-clr{
  color: brown;
}
.green-clr{
  color: green;
}
/* card1 */
.color1{
  color:goldenrod;
}
.color2{
  color: navy;
}
#first-btn{
  background-color: aqua;
  border: none;
  position: relative;
  left: 5rem;
}
.modern-logo{
  position: relative;
  height: 6rem;
   top: -35rem;
   left: 2rem;
}