
.back-img{
 height: auto;
 display: flex;
 width: 1300px;
 text-align: center;
 object-fit: cover;
 
  
}
#heading1{
 position: relative;
 top: -26rem;
 color:white;
 left: 40px;
 

}
#para{
  position: relative;
  display: flex;
 top: -25rem;
  color:white;
  left: 40px;
  font-family: cursive;
}
#btn2{
  position: relative;
  display: flex; 
  top: -23rem;
  left: 50px;
  cursor: pointer;
   color: brown;
   background-color: orange;
   transition: 0s ease-in-out 0s;
}
#btn2:hover{
  color: blue;
  background-color: crimson;
}
.banner-img{
  position: relative;
  display: flex;
  top: -47rem;
  left: 39rem;
  height: 27rem;
  width: 40rem;
  overflow: hidden;
}
@media (max-width:1200px) {
  .service-img img{
    left: 20rem;
  }
}

.services-img{
  position: relative;
  display: flex;
  gap: 90px;
  padding: 60px 30px;



}
.services-img img{
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 10px;
  top: -43rem;
  
  object-fit: cover;
  right: -4rem;
}
@media (max-width:600px) {
  .service-img img{
   width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    border-radius: 8px;

  }
  }


.section-heading{
  position: relative;
  display: flex;
  top: -42rem;
  left: 10rem;
  color: brown;
 transition: 0.3s ease-in-out 0s;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  
}
.section-heading:hover{
  color: orange;
}
.home-cards {
  position: relative;
  top: -40rem;
  background-color: #fff;
  padding: 60px,20px;
  text-align: center;
  transition: 0.3s ease-in-out 0s;
  cursor: pointer;

}

.home-cards:hover h2{

  color: blue;
}



.card-section{
  position: relative;
  top: -37rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  background-color: whitesmoke;
}
@media (max-width: 600px) {
  .card-section {
    flex-direction: column;
    align-items: center;
  }
}
.card{
  position: relative;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}
@media (max-width: 600px) {
   .card{
    width: 100%;
    max-width: 100%;
   }     
  }

.card:hover{
  transform: translate(-5px);
  box-shadow: 0,6px,16px rgba(0,0,0,0.15);

}
.card p{
  position: relative;
  opacity: 0.5;
  font-size: 15px;
}
.red-clr{
  color: red;
}
.brown-clr{
  color: brown;
}
.green-clr{
  color: green;
}
/* card1 */
.color1{
  color:goldenrod;
}
.color2{
  color: navy;
}
#first-btn{
  background-color: aqua;
  border: none;
  position: relative;
  left: 5rem;
  cursor: pointer;
}
.modern-logo{
  position: relative;
  height: 6rem;
   top: -35rem;
   left: 2rem;
}
